@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root{
  /* --app-primary-color: #64679c; */
  --app-primary-color: #9F3C9F;
  --app-primary-font-color:#262964;
  --app-primary-color-disabled: #A2A5DB;
  --app-primary-color-hover: hsl(145, 83%, 23%);
  --app-secondary-color: hsl(145, 60%, 39%);
  --app-secondary-color-disabled: hsl(145, 60%, 59%);
  --app-secondary-color-hover: hsl(145, 83%, 23%);



  --swiper-navigation-size: 24px;
  --swiper-theme-color: #9d129d;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}



body {
  margin: 0;
  font-family: "Woolwich, sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit; /* Inherit the color from the parent */
  text-decoration: none; /* Remove underline */
}
a:hover{
  color: inherit; /* Inherit the color from the parent */
  text-decoration: none; /* Remove underline */
}